.memberships-card{
    position: relative;
}

.memberships-card-info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFF;
    padding: 35px 20px;
}

.card-title{
    margin-bottom: 20px;
}

.card-price{
    margin-bottom: 0;
    font-size: 24px;
}

.card-inf{
    position: absolute;
    bottom: 20px;
    right: 45px;
    font-size: 12px;
}
